@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

* {
    font-family: "SimSun";
}

body {
    padding: 50px;
    padding-right: 0px;
    font-size:20px;
    float:left;
}
header {
    position: absolute;
    left: 0;
    top: 0;
    width:97%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 3%;
    
    color: whitesmoke;
    background-image: linear-gradient(125deg, #8ae788, #5bb7d8, #2980B9, #8ae788);
    background-size: 400%;
    animation: animate 10s infinite;
    
}
header a {
    color: whitesmoke;
}
.fixed {
    position: sticky;
    float:right;
    top: 0px;
    padding-top: 30px;
}
.left {
    width: 50%;
}
td.unchangeable, td.unchangeable input {
    background-color: gainsboro;
}
td {
    text-align: center;
    border-style: groove;
}
td:has(p), td p {
    background-color: lightgray;
}
td p {
    word-break: break-all;
    font-size: 15px;
    width:50px;
    height:50px;
    margin: 0px;
    overflow:hidden;
}
div#indicatorInputs, div#objectInputs {
    margin: 5px;
    padding: 5px;
    width: 50%;
    border-style: dashed;
}
table:has(tbody#indicatorMatrix), table:has(tbody#objectMatrix) {
    margin-left: 50%;
    transform: translate(-50%, 0);
}
input[type=text] {
    border: none;
    border-bottom: solid;
    font-size: 20px;
    width: 40%;
}

math.block {
    display: block;
}